

<mat-card>
  <h1 class="text-secondary p-3 my-2">Add Category</h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form >
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Title</mat-label>
          <input

          type="text"
          name="title"
          required
          placeholder="Type the title"
          matInput>
        </mat-form-field>
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea

          type="text"
          name="description"
          placeholder="Type the description"
          matInput
          rows="8"></textarea>
        </mat-form-field>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Maximun points</mat-label>
              <input

              type="text"
              name="maximumPoints"
              placeholder="Type the maximum points"
              matInput>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Number Questions</mat-label>
              <input

              type="text"
              name="numberQuestions"
              placeholder="Type the number questions"
              matInput>
            </mat-form-field>
          </div>
        </div>
      </form>
  </div>
  </div>
</mat-card>
