<mat-card class="mt10" *ngFor="let e of exams">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        {{e.title}}
      </mat-card-title>
      <mat-card-subtitle>
        {{e.category.title}}
      </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">Questions</button>
      <button mat-stroked-button color="primary" class="ml20">Maximum points {{e.maximumPoints}}</button>
      <button mat-stroked-button color="primary" class="ml20">Questions {{e.numberQuestions}}</button>
      <button mat-flat-button color="primary" class="ml20">Update</button>
      <button mat-flat-button color="primary" class="ml20">Intents</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<div class="container text-center my-3">
 <button mat-raised-button color="primary">Add Questionnaire</button>
</div>
