<mat-card >
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <div class="p-2 ">


      <button routerLink="/admin" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon> Inicio
      </button>
      <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon> Profile
      </button>


      <button mat-list-item routerLink="/admin/categories">
        <mat-icon mat-list-icon>list</mat-icon> Categories
      </button>
      <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon>add</mat-icon> Add Category
      </button>


      <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon>quiz</mat-icon> Questionnaires
      </button>
      <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon>add</mat-icon> Add Questionnaire
      </button>

      <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon>logout</mat-icon> Logout
      </button>

    </div>

  </mat-action-list>
</mat-card>

