<mat-toolbar color="primary">
  <a
    [routerLink]="'/home'"
    mat-icon-button
    class="example-icon"
    arial-label="Example icon-button with menu icon" >
    <mat-icon>menu_books</mat-icon>
  </a>
  <span>Portal de exámenes</span>
  <span class="example-spacer"></span>
  <a
    [routerLink]="'/login'"
    mat-icon-button
    class = "example-icon favorite-ico fonz"
    aria-label = "Example icon-button with heart icon">Login
  </a>
  <a
    [routerLink]="'/register'"
    mat-icon-button
    class="example-icon favorite-icon mr20 ml70 fonz"
    aria-label="Example icon-button with heart icon"> Register
  </a>

</mat-toolbar>
